
@import "tailwindcss"; 
 
/* body {
  background-color: black;
color: white  ;
} */
.base{
  background-color: #3352cc;
}
.textbase{
  color: #3352cc;
}
.buttonbg{
  background: linear-gradient(90deg, #7b96ff 0%, #2b55ff 100%);
  padding: 10px;
  border-radius: 9999px;
  color: white;
  background-color: #3352cc;
  margin-top: 10px;
}
 