/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background-color: black;
color: white  ;
}
.base{
  background-color: #3352cc;
}
.textbase{
  color: #3352cc;
}
.buttonbg{
  /* @apply bg-gradient-to-br text-white rounded-full   from-[#3352CC] font-medium to-[#1C2D70]; */
  background: linear-gradient(90deg, #3352CC 0%, #1C2D70 100%);
  /* border-radius: 9999px; */
  padding: 10px;
  border-radius: 9999px;
  color: white;
  background-color: #3352cc;
  margin-top: 10px;
}